
.theme_switch-button{
    display: flex; 
    justify-content: center;
    align-content: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-family: 'Roboto';
    background-color: var(--button);
    color: var(--text_1);
    cursor: pointer;
    transition: border-color 0.25s;
    border-radius: 4px;
    border: 1px solid transparent;
    line-height: normal;
    gap: 1rem;
    width: 100%;
    &:hover{
        background-color: var(--button_hover);
        border-color: var(--button_hover);
        color: var(--text_2);
    }
    &:focus,
    &:focus-visible {
        outline: none;
    }
}