@import "../../../variables.scss";

.add_article-container {
    width: 100%;
}

.addArticleBtn { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5em;
    font-size: 0.75em;
    background-color: $button;
    color: $text_1;
    cursor: pointer;
    transition: border-color 0.25s;
    border-radius: 4px;
    border: 1px solid transparent;
    line-height: normal;
    gap: 1rem;
    &:hover {
        background-color: $button_hover;
        border-color: $button_hover;
        color: $text_2;
    }
    &:focus,
    &:focus-visible {
        outline: 4px auto -webkit-focus-ring-color;
    }
}