@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  font-family: 'Ubuntu', sans-serif, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scrollbar-width: auto;
  scrollbar-color: grey #d2008f;
}

html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background: grey;
}
html::-webkit-scrollbar-thumb {
  background-color: #d2008f;
}

::selection {
  color: #f4f4f4;
  background: #d2008f;
}