.edit-article_page{
    max-width: 70ch;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.edit-article_container{
    padding: 1em;
    background-color: $card_background;
    color: $text_2;
    border-radius: 4px;
    
}
.edit-article_heading{
    font-size: 1.5em;
}