.comment{
    box-sizing: border-box;
    font-size: 0.6em;
    padding: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.comment-text{
    margin-top: 0;
}

.delete-comment-icon{
    cursor: pointer;
}